.matrix{
    position: relative;
    border: 1px solid red;

}

.textGameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}